@import url('https: //fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 220, 23%, 95%;
    --foreground: 234, 16%, 35%;
    --card: 220, 23%, 95%;
    --card-foreground: 234, 16%, 35%;
    --popover: 220, 23%, 95%;
    --popover-foreground: 234, 16%, 35%;
    --primary: 233, 13%, 41%;
    --primary-foreground: 220, 22%, 92%;
    --secondary: 220, 21%, 89%;
    --secondary-foreground: 233, 13%, 41%;
    --muted: 220, 21%, 89%;
    --muted-foreground: 233, 10%, 47%;
    --accent: 220, 21%, 89%;
    --accent-foreground: 233, 13%, 41%;
    --destructive: 347, 87%, 44%;
    --destructive-foreground: 220, 22%, 92%;
    --border: 228, 11%, 65%;
    --input: 228, 11%, 65%;
    --ring: 234, 16%, 35%;
    --chart-1: 355, 76%, 59%;
    --chart-2: 183, 74%, 35%;
    --chart-3: 189, 70%, 42%;
    --chart-4: 35, 77%, 49%;
    --chart-5: 22, 99%, 52%;
    --radius: 0.5rem
  }
  .dark {
    --background: 240, 21%, 15%;
    --foreground: 226, 64%, 88%;
    --card: 240, 21%, 15%;
    --card-foreground: 226, 64%, 88%;
    --popover: 240, 21%, 15%;
    --popover-foreground: 226, 64%, 88%;
    --primary: 227, 35%, 80%;
    --primary-foreground: 240, 21%, 12%;
    --secondary: 240, 23%, 9%;
    --secondary-foreground: 227, 35%, 80%;
    --muted: 240, 23%, 9%;
    --muted-foreground: 228, 24%, 72%;
    --accent: 240, 23%, 9%;
    --accent-foreground: 227, 35%, 80%;
    --destructive: 343, 81%, 75%;
    --destructive-foreground: 240, 21%, 12%;
    --border: 231, 11%, 47%;
    --input: 231, 11%, 47%;
    --ring: 226, 64%, 88%;
    --chart-1: 217, 92%, 76%;
    --chart-2: 115, 54%, 76%;
    --chart-3: 23, 92%, 75%;
    --chart-4: 267, 84%, 81%;
    --chart-5: 350, 65%, 77%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
