@import url('https: //fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: #AEECEF;
    --foreground: 	#21222b;
    --card: #C1EEFF;
    --card-foreground: 	#4b4e68;
    --popover: #B79492;
    --popover-foreground: 	#4b4e68;
    --primary: 	#a1a5d4;
    --primary-foreground: 	#e6e9ef;
    --secondary: #5aabc1;
    --secondary-foreground: 	#5b5e76;
    --muted: #B79492;
    --muted-foreground: #6c6f84;
    --accent: #B79492;
    --accent-foreground: 	#5b5e76;
    --destructive: #d20f39;
    --destructive-foreground: 	#e6e9ef;
    --border: #533B4D;
    --input: #533B4D;
    --ring: 	#4b4e68;
    --chart-1: #e64754;
    --chart-2: #17959b;
    --chart-3: #20a0b6;
    --chart-4: #dd8d1d;
    --chart-5: #fe640b;
    --radius: 0.5rem
  }
  .dark {
    --background: #171C1A;
    --foreground: #cdd6f4;
    --card: #171C1A;
    --card-foreground: #cdd6f4;
    --popover: #171C1A;
    --popover-foreground: #cdd6f4;
    --primary: #070909;
    --primary-foreground: #061327;
    --secondary: #43543B;
    --secondary-foreground: #070909;
    --muted: #1a1113;
    --muted-foreground: #a6adc9;
    --accent: #43543B;
    --accent-foreground: #070909;
    --destructive: #f38ca9;
    --destructive-foreground: #061327;
    --border: #3A283B;
    --input: #3A283B;
    --ring: #cdd6f4;
    --chart-1: #89b5fa;
    --chart-2: #a6e3a1;
    --chart-3: #fab285;
    --chart-4: #caa6f7;
    --chart-5: #ea9eab;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
